<!-- <router-outlet></router-outlet>

<app-login *ngIf="showLogin"></app-login>
<app-register *ngIf="showRegister"></app-register> -->
<!-- app.component.html -->

<!-- Top Navigation Bar -->
<!-- <div class="top-bar">
    <button (click)="openLogin()">Login</button>
    <button (click)="openRegister()">Register</button>
  </div> -->
  
  <!-- Main Router -->
  <!-- <router-outlet></router-outlet>
  <app-navbar></app-navbar>
   -->
   <app-navbar></app-navbar> <!-- Navbar always on top -->
   <router-outlet></router-outlet> <!-- Then page content -->
   
